@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<h3 class="colorletter text-center">About Us</h3>
<div class="container-fluid wraperHome">
  
    <div class="shadow2">
        <div class="centering"></div>
        <p class="container-fluid">
            We are the Blind Carrots, three web developoment students who bring you this ticket system. 
            In the past we were mostly green with orange feet, but now we have grown into real juicy carrots and the
            best part is we are blind. 

            The first carrot is called Jordan , the master of carrots also he is our team leader.
            Second and Third carrots are called Branimir and Bojan, they are totally blind.
            
        </p>
    </div>
    <div class="make-room"></div>
</div>