@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid wraperHome">
    <div class="shadow2">
        <div class="centering"></div>
        <h3 class="colorletter container-fluid">About us</h3>
        <p class="container-fluid">
            CDW is a leading provider of integrated information technology solutions in the U.S. and Canada. 
            We help our 250,000 small, medium and large business, government, education and healthcare customers 
            by delivering critical solutions to their increasingly complex IT needs. 
            A Fortune 500 company, CDW was founded in 1984 and employs more than 7,200 coworkers. 
            For the trailing twelve months ended March 31, 2015, the company generated net sales of more than $12.0 billion.
            Our broad array of offerings range from discrete hardware and software products to integrated IT
            solutions such as mobility, security, data center optimization, cloud computing, virtualization and collaboration.
        </p>
    </div>
</div>