@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="box1 text-center">
    <br />
    <h3 class="colorletter text-center">Contact Us</h3>
    <br />
</div>
<br />
<div class="container-fluid wraperHome">
    <div class="shadow2">
        <div class="container">
            <div class="row glava">
                <div class="col-xs-6">
                    <form class="form-horizontal" method="post">
                        @if (ViewBag.Message != null)
                        {
                            <div class="form-group">
                                <p class="text text-info">@ViewBag.Message</p>
                            </div>
                        }
                        <div class="form-group">
                            <span class="col-xs-1 col-xs-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-xs-8">
                                <input id="fname" name="firstName" type="text" placeholder="First Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-xs-1 col-xs-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-xs-8">
                                <input id="lname" name="lastName" type="text" placeholder="Last Name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-xs-1 col-xs-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-xs-8">
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-xs-1 col-xs-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-xs-8">
                                <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="container-fluid text-center">
                                <button type="submit" class="button-login">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>