
@{
    ViewBag.Title = "HowItWorks";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
    <div class="shadow1 blue-line">
        <h3 class="colorletter1">How It Works</h3>
        <hr />      
        <p class="container-fluid margin-bottom1">
            Our ticket system is designed specifically to organize any kind of issues as they 
            are reported and helps keeping track of all fixes made , acting as an issue tracking 
            system as well. Every user can make his own account at the home page ,by clicking on
            the sign up button which will only require e-mail ,user name ,first name ,last name 
            and unique password information.
            <br /> 
            Its where we offer our customers modern login system
            allowing them to open tickets that connect directly to our administrators 
            and moderators receiving them via Email or the system itself.
            Moderators have the option to order all tickets by any kind of category or info
            previously gathered. They also have the option to watch all tickets by its pending 
            status ,whether its new or allready in process.
            Our moderators have the option to do advanced search on all the details users have
            provided with tickets and their profiles.
            <br />
            The super administrator can view and edit all user profiles , but he cant alter or
            read their passwords.This ensures that users profile password can be changed only via
            forgot password.Our administrator can appoint moderators, handle tickets ,view all
            pending, new pending or closed tickets.He has the full controll of opening, closing,
            or modifying tickets in case his help is needed.
            <br />
            Also , its important to state that we provide our users with transparent email
            communication while using any of our ticket features or even when they simply contact
            us.
           </p>
    </div>
