
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container-fluid wraperHome">
    <div class="shadow">
        <form class="loginWrap">
            <input type="text" name="first_name" id="first_name" class="form-control input-sm login" placeholder="User Name" style="border-radius:5px;">
            <br />
            <input type="password" name="password" id="password" class="form-control input-sm login" placeholder="Password" style="border-radius:5px;">
            <a href="#" class="btn btn-primary btn-primary loginbtn">Log In</a>
            <a href="#" class="btn btn-danger btn-danger loginbtn">Forgot Password</a>
        </form>
    </div>
    <div class="notMember">
        <p>Not a member yet?</p>
        <a href="~/Home/Register">REGISTER</a>
    </div>
</div>