@{
    ViewBag.Title = "MyTickets";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>MyTickets</h2>
@if (Session["LogedUserFullname"] != null)
{
    <text>
        Welcome @Session["LogedUserFullname"].ToString()
    </text>
}