@model IEnumerable<SEDC.TicketingSystem.Models.User>
@{
    ViewBag.Title = "AssignTicket";
    if (Convert.ToInt32(Session["IsAdmin"]) == 2)
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_ModeratorLayout.cshtml";
    }
}
<div class="main-wrapper">
    <div class="shadow1 blue-line">
        <div class="container-fluid" >
            <h3 class="colorletter2">AssignTicket</h3>
            <hr />

            @using (Html.BeginForm("AssignTicket", "Moderator", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4 class="colorletter">Message to Moderator</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <select name="moderatorId" class="margin-bottom1">
                        @foreach (var item in Model)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea class="form-control input"  id="reply" name="message" placeholder="Enter Message for the Moderator..."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Assign" class="button-login-contact pull-left" id="submitReply" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



