
@model SEDC.TicketingSystem.Models.User

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container-fluid wraperHome">
    <div class="shadow2">
        <div class="edit-center">
            <div class="centering"></div>
            <h2>ResetPassword</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal msgTextNoMrg">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)


                    <div class="form-group">
                        <label for="Password" class = "control-label col-md-2">Password</label>
                        <div class="col-md-9">
                            <input type="password" id="Password" name="Password" class="form-control" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ComfirmPassword" class="control-label col-md-2">Password</label>
                        <div class="col-md-9">
                            <input type="password" id="ComfirmPassword" name="ComfirmPassword" class="form-control" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-9">
                            <input id="reset" type="submit" value="Reset" class="btn loginbtn" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#reset").on("click",function(){
            if($('#Password').val() != $('#ComfirmPassword').val())
            {
                Alert("Please make sure you enter the same string ");
            }
        })
        
    })

</script>