
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: white;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: white;
    border-width: 0px; 
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: white;
    background-color: #1E8BC3!important;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: white;
    background-color: white;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1)!important;
    background-color: #1E8BC3!important;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: white;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: white;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #1E8BC3!important;
}
.navigacija {
    background-color:#1E8BC3;
}
.logo{
    width:20%;
    height:5%;
}
.wraperHome {
    margin-left:auto;
    margin-right:auto;
    width:500px;
    padding:1%;
}
.wraperHome1 {
    width:100%;
    padding:1%;
}
.wraperLogin {
    margin-left:auto;
    margin-right:auto;
    width:40%;
    height:500px;
}
footer {
    background-color:#3498DB;
    border-width: 2px;
    width:100%;
    left:0px;
    right:0px;
    bottom:0px; 
    box-shadow: 0px 500px 0px 500px #3498DB;
}
.footerModerator{
    border-width: 2px;
    width:100%;
    left:0px;
    right:0px;
    bottom:0px; 
    box-shadow: 0px 500px 0px 500px #ECF0F1;
}
.footerDiv{
    border:2px solid #3498DB;
    height:2%;
    width:100%;
    clear:both;

}
.columnPost {
    color:white;
}
.columnPostH {
    color:white;
}
body {
    background-color: #ECF0F1;
    height:100%;
    width:100%;
}

.login {
    display:block;
    width:300px;
    margin-left:auto;
    margin-right:auto;
}

.shadow {
    -webkit-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    width:500px;
    height:40%;
    margin-top:0%;
}
.shadow1 {
    -webkit-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    width:500px;
    height:400px;
    margin-top:0%;
}
.shadow2 {
    -webkit-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    width:500px;
    padding:1%;
    margin-top:0%;
}
.shadow3 {
    -webkit-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    width:700px;
    height:550px;
  
}
.shadow4 {   
     -webkit-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    height:100px;
    width:700px;
}
.loginbtn{
    margin-top:10px;
    margin-left:5%;
    background-color:#1E8BC3;
    color:white;
}
.srchbtn{
    margin-left:5%;
    background-color:#1E8BC3!important;
    color:white;
}

.loginbtnNoMrg{
    margin-top:10px;
    background-color:#1E8BC3;
    color:white;
}
.loginbtnreg {
    margin-left:32%;
}
.loginWrap{
    margin-top:1%;
    position:absolute;
    margin-right:auto;
    margin-left:auto;
    width:500px;
}
.notMember p{
    display:inline-block;
    margin-top:2%;
    margin-left:40%;
}
.registerBody{
    -webkit-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    background-color:#ECF0F1;
    margin-top:25%;
    width:500px;
    margin-right:auto;
    margin-left:auto;
    position:absolute;
}

header {
    background-color:#1E8BC3;
}

.underline {
    text-decoration:underline;
    margin-left:37%;
}
.registerbutton {
    background-color:#1E8BC3;
    color:white;
}
.colorletter {
    color:#1E8BC3!important;
}
.wrapper{
    position:relative;
}
.centering{
    height:10%;
    width:100%;
    clear:both;
}
.glava {
    color: #36A0FF;
    font-size: 27px;
    margin-left:-12%;
    margin-top:2%;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
    height:20px;
    width:20px;
}
.controlText {
    color:#1E8BC3!important;
    margin-left:-29%;
}
.msgText {
    color:#1E8BC3!important;
    margin-top:10%;
}
html{
    height:100%;
}

.welcomeMessage{
    text-align:center;
    color:#1E8BC3!important;
}
#result{
    display:none;
}
.ikonaCovek{
   color:#1E8BC3!important;
   font-size:60px;
   margin-top:8%;
   opacity:0.6;
	filter: alpha(opacity=50);
 	-webkit-transition: opacity 1s linear;
     display:block;
     text-decoration:none;
}
.ikona{
    width:100px;
    height:100px;
    border:1px #BFBFBF solid;
    border-radius:5px;
    text-align:center;
	filter: alpha(opacity=50);
 	-webkit-transition: opacity 1s linear;
     text-decoration:none;
     margin-right:5%;
     margin-top:2%;
  

}
.under{
    display:block;
}
.under:hover{
    text-decoration:none;
}
.ikonaCovek:hover{
    opacity: 1;
	filter: alpha(opacity=100);
 	-webkit-transition: opacity 1s linear;
     text-decoration:none;


}
.ikona:hover{
    opacity: 1;
	filter: alpha(opacity=100);
 	-webkit-transition: opacity 1s linear;
     -moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;

}

/* Wobble To Top Right */
@-webkit-keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.hvr-wobble-to-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-to-top-right:hover, .hvr-wobble-to-top-right:focus, .hvr-wobble-to-top-right:active {
  -webkit-animation-name: hvr-wobble-to-top-right;
  animation-name: hvr-wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.prvRed{
    margin-left:2%;
}
.biger{
    width:420px;
}
.biger p{
    text-align:center;
    margin-top:5%;
    color:#1E8BC3;
    font-size:115%;
}
.colorwhite{
    color:white;
}
.colorwhite:hover{
    
    text-decoration:none;
}

.centralDiv{
    width:100%;
    padding:2%;
  
}
.position-center {
    margin-left:auto;
    margin-right:auto;
    width:75%;
    height:100%;
}
.edit-center {
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
.msgTextNoMrg{
    color:#1E8BC3!important;
}
.createCenter {
    width:93%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}
.centerCreateWhole{
    margin-left:-25%;
}
.shadowEdit {
        -webkit-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    width:850px;
    padding:1%;
    margin-left:auto;
    margin-right:auto;
}
.shadowModerator {
        -webkit-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    width:50%;
    padding:5%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5%;
    margin-top:5%;
}
.mceEditor{
    width:30%;
}
.wraperHomeEdit{
        margin-left:auto;
    margin-right:auto;
    width:500px;
    padding:2%;
}
.centerCreateWholeEdit {
    margin-left:-40%;
}
.position-centerEdit{
    margin-left:auto;
    margin-right:auto;
    width:95%;
    height:100%;
}

.wraperHomeCreate {
            margin-left:auto;
    margin-right:auto;
    width:500px;
    height:570px;
}
.bodyto{
      width: 80%;
      height:200px;
      padding: 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border:1px #BFBFBF solid;
      border-radius:5px;
      background-color:white;
 }
.wraperHomeDetails{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    padding:2%;

}
.shadowDetail{
    -webkit-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 8px 39px -29px rgba(0, 0, 0, 0.75);
    width:100%;
   padding:1%;

}
.edit-assign{
    width:40%;
    margin-left:auto;
    margin-right:auto;
}

.sameline {
    float:left;
    margin-left:4%;
    width:40%;
    margin-bottom:4%;
}
.sameline1{
    clear:both;
    margin-left:4%;
    width:40%;
    margin-bottom:4%;
}
.butonCenter{
    display:inline-block;
    float:left;
}
.bodyText{
    margin-left:-10%;
    margin-right:10%;
    clear:both;
}
.bodyBtn{
    margin-left:-9%;
    margin-top:9%;
    clear:both;

}
.pad{
    padding-top:1%;
}
.bodyText1 p{
      border:1px #BFBFBF solid;
      border-radius:5px;
      background-color:white;
      margin-top:15%;
      margin-left:15%;
      padding:1%;
}
.bodyText2 p{
      border:1px #BFBFBF solid;
      border-radius:5px;
      background-color:white;
      padding:1%;
}
.moderatorCentering{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1%;
    margin-bottom:1%;
}